@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/** Splash screen animation setting **/
@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-scale {
  animation: fadeScale 1.5s ease-out forwards;
}
